@import url("https://fonts.googleapis.com/css?family=Didact+Gothic&subset=latin,latin-ext");
@import url("https://fonts.googleapis.com/css?family=Fascinate&subset=latin,latin-ext");
.navbar-default {
  background: #89609e url("../images/background.png");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: 100% auto;
  border-radius: 0px;
  border: 0px;
  min-height: 72px;
  font-family: "Didact Gothic"; }
  .navbar-default .navbar-toggle {
    margin-top: 16px; }
  .navbar-default .navbar-brand {
    color: White;
    line-height: 48px;
    font-family: Fascinate;
    font-size: 36px;
    padding-left: 36px;
    padding-right: 36px; }
    .navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:active, .navbar-default .navbar-brand:focus {
      color: #99ff66;
      outline: 0px;
      text-decoration: none; }
  .navbar-default .navbar-nav li.active > a {
    background: rgba(255, 255, 255, 0.25);
    color: White; }
  .navbar-default .navbar-nav li a {
    color: White;
    line-height: 48px; }
    .navbar-default .navbar-nav li a:hover, .navbar-default .navbar-nav li a:active, .navbar-default .navbar-nav li a:focus {
      color: #99ff66;
      outline: 0px;
      text-decoration: none; }
    .navbar-default .navbar-nav li a i.fa {
      margin: 0px 10px; }

#logout {
  cursor: pointer; }

.content {
  color: Black; }
  .content .container {
    margin-top: 0px; }
    .content .container th .fa {
      color: Black; }
    .content .container th a .fa {
      color: rgba(0, 0, 0, 0.5); }

.dashboard-tile {
  background: #89609e;
  padding: 50px;
  border: 5px solid White;
  display: inline-block;
  color: White;
  font-family: "Didact Gothic";
  font-size: 24px;
  text-align: center;
  cursor: pointer; }
  .dashboard-tile:hover {
    -webkit-transform: scale(1.025);
    -moz-transform: scale(1.025);
    -o-transform: scale(1.025);
    transform: scale(1.025);
    -webkit-transition: all 0.5s ease-out 0s;
    -moz-transition: all 0.5s ease-out 0s;
    -ms-transition: all 0.5s ease-out 0s;
    -o-transition: all 0.5s ease-out 0s;
    transition: all 0.5s ease-out 0s; }
  .dashboard-tile.add-new {
    background: rgba(137, 96, 158, 0.75); }

.alert .close {
  top: -6px !important;
  right: -20px !important;
  font-size: 36px; }

.huge {
  font-size: 48px;
  font-weight: bold; }

.panel-primary {
  border-color: #428bca; }
  .panel-primary .panel-heading {
    border-color: #428bca;
    color: white;
    background-color: #428bca; }
  .panel-primary a {
    color: #428bca; }
    .panel-primary a:hover {
      color: #2a6496; }

.panel-green {
  border-color: #5cb85c; }
  .panel-green .panel-heading {
    border-color: #5cb85c;
    color: white;
    background-color: #5cb85c; }
  .panel-green a {
    color: #5cb85c; }
    .panel-green a:hover {
      color: #3d8b3d; }

.panel-red {
  border-color: #d9534f; }
  .panel-red .panel-heading {
    border-color: #d9534f;
    color: white;
    background-color: #d9534f; }
  .panel-red a {
    color: #d9534f; }
    .panel-red a:hover {
      color: #b52b27; }

.panel-yellow {
  border-color: #f0ad4e; }
  .panel-yellow .panel-heading {
    border-color: #f0ad4e;
    color: white;
    background-color: #f0ad4e; }
  .panel-yellow a {
    color: #f0ad4e; }
    .panel-yellow a:hover {
      color: #df8a13; }

.form-input-row {
  padding: 25px 0px; }

.submit-add-edit {
  margin-top: 50px; }

.planned-day {
  width: 20px;
  height: 20px;
  line-height: 20px;
  display: inline-block;
  text-align: center;
  cursor: pointer;
  font-size: 10px;
  border: solid 2px #c9f;
  margin: 2px 1px; }
  .planned-day.occupied {
    background: #c9f; }
  .planned-day.free {
    background: White; }
  .planned-day.blur {
    opacity: 0.25; }

/*# sourceMappingURL=dashboard.css.map */
