@import url("https://fonts.googleapis.com/css?family=Didact+Gothic&subset=latin,latin-ext");
html, body {
  margin: 0px;
  padding: 0px;
  height: 100%; }

body {
  color: White;
  font-family: "Open Sans", sans-serif;
  font-size: 16px; }

a {
  color: White;
  -webkit-transition: all 0.75s ease-out 0s;
  -moz-transition: all 0.75s ease-out 0s;
  -ms-transition: all 0.75s ease-out 0s;
  -o-transition: all 0.75s ease-out 0s;
  transition: all 0.75s ease-out 0s; }
  a:hover, a:active, a:focus {
    color: #99ff66;
    outline: 0px;
    text-decoration: none; }

h1, h2, h3 {
  font-family: "Didact Gothic"; }

#wrapper {
  min-height: 100%;
  position: relative; }

.content {
  padding: 15px 0px; }
  .content .container {
    margin-top: 50px;
    margin-bottom: 100px; }

.footer {
  background: rgba(0, 0, 0, 0.9);
  bottom: 0px !important;
  color: White;
  margin-top: 50px;
  padding: 10px;
  position: absolute !important;
  width: 100%; }
  .footer p {
    margin-top: 5px;
    font-family: "Didact Gothic";
    font-size: 18px; }
  .footer .footer-icon {
    padding: 0px 10px; }

/*# sourceMappingURL=style.css.map */
