@import url("https://fonts.googleapis.com/css?family=Didact+Gothic&subset=latin,latin-ext");
#wrapper {
  background: #89609e url("../images/background.png");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: 100% auto; }

.navbar {
  display: none; }

.content .container .app-title {
  color: White;
  text-align: center; }
.content .container h1 {
  font-size: 56px;
  font-weight: bold; }
.content .container .login-panel {
  margin-top: 50px; }
  .content .container .login-panel h3 {
    text-align: center; }
  .content .container .login-panel .input-group {
    margin: 25px 0px; }
    .content .container .login-panel .input-group:hover > .input-group-addon, .content .container .login-panel .input-group:active > .input-group-addon, .content .container .login-panel .input-group:focus > .input-group-addon {
      -webkit-transform: scale(1.5);
      -moz-transform: scale(1.5);
      -o-transform: scale(1.5);
      transform: scale(1.5);
      -webkit-transition: all 0.5s ease-out 0s;
      -moz-transition: all 0.5s ease-out 0s;
      -ms-transition: all 0.5s ease-out 0s;
      -o-transition: all 0.5s ease-out 0s;
      transition: all 0.5s ease-out 0s; }
  .content .container .login-panel *::-webkit-input-placeholder {
    color: rgba(255, 255, 255, 0.5); }
  .content .container .login-panel *:-moz-placeholder {
    color: rgba(255, 255, 255, 0.5); }
  .content .container .login-panel *::-moz-placeholder {
    color: rgba(255, 255, 255, 0.5); }
  .content .container .login-panel *:-ms-input-placeholder {
    color: rgba(255, 255, 255, 0.5); }
  .content .container .login-panel .form-control {
    background: rgba(255, 255, 255, 0.25);
    border-radius: 0px;
    border: none;
    box-shadow: none;
    color: White;
    font-family: "Didact Gothic";
    font-size: 24px;
    height: 48px;
    margin-left: 8px;
    text-align: center;
    -webkit-transition: all 0.25s ease-out 0s;
    -moz-transition: all 0.25s ease-out 0s;
    -ms-transition: all 0.25s ease-out 0s;
    -o-transition: all 0.25s ease-out 0s;
    transition: all 0.25s ease-out 0s; }
    .content .container .login-panel .form-control:hover, .content .container .login-panel .form-control:focus {
      background: rgba(255, 255, 255, 0.5);
      -webkit-transition: all 0.25s ease-out 0s;
      -moz-transition: all 0.25s ease-out 0s;
      -ms-transition: all 0.25s ease-out 0s;
      -o-transition: all 0.25s ease-out 0s;
      transition: all 0.25s ease-out 0s; }
    .content .container .login-panel .form-control[type="text"], .content .container .login-panel .form-control[type="password"] {
      text-align: left; }
    .content .container .login-panel .form-control[type="submit"] {
      background: rgba(153, 255, 102, 0.75);
      width: 100%; }
      .content .container .login-panel .form-control[type="submit"]:hover, .content .container .login-panel .form-control[type="submit"]:focus {
        background: rgba(153, 255, 102, 0.95);
        -webkit-transition: all 0.25s ease-out 0s;
        -moz-transition: all 0.25s ease-out 0s;
        -ms-transition: all 0.25s ease-out 0s;
        -o-transition: all 0.25s ease-out 0s;
        transition: all 0.25s ease-out 0s; }
  .content .container .login-panel .input-group-addon {
    background: none;
    border: none;
    color: White;
    min-width: 50px; }

/*# sourceMappingURL=login.css.map */
