$background: rgb(137, 96, 158);
$contrast: rgb(153, 255, 102);

@import url("https://fonts.googleapis.com/css?family=Didact+Gothic&subset=latin,latin-ext");
$font: "Didact Gothic";

@mixin transform($scale) {
	-webkit-transform: scale($scale);
	-moz-transform: scale($scale);
	-o-transform: scale($scale);
	transform: scale($scale);
}

@mixin transition($time) {
	-webkit-transition: all $time ease-out 0s;
	-moz-transition: all $time ease-out 0s;
	-ms-transition: all $time ease-out 0s;
	-o-transition: all $time ease-out 0s;
	transition: all $time ease-out 0s;
}

$brand-primary: #428bca;
$brand-success: #5cb85c;
$brand-info: #5bc0de;
$brand-warning: #f0ad4e;
$brand-danger: #d9534f;