@import "utils";
@import url("https://fonts.googleapis.com/css?family=Fascinate&subset=latin,latin-ext");

.navbar-default {
	background: $background url("../images/background.png");
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: 100% auto;
	border-radius: 0px;
	border: 0px;
	min-height: 72px;
	font-family: $font;

	.navbar-toggle {
		margin-top: 16px;
	}

	.navbar-brand {
		color: White;
		line-height: 48px;
		font-family: Fascinate;
		font-size: 36px;
		padding-left: 36px;
		padding-right: 36px;

		&:hover, &:active, &:focus {
			color: $contrast;
			outline: 0px;
			text-decoration: none;
		}
	}

	.navbar-nav {

		li {

			&.active > a {
				background: rgba(White, 0.25);
				color: White;
			}

			a {
				color: White;
				line-height: 48px;

				&:hover, &:active, &:focus {
					color: $contrast;
					outline: 0px;
					text-decoration: none;
				}

				i.fa {
					margin: 0px 10px;
				}
			}

		}

	}
}

#logout {
	cursor: pointer;
}

.content { 
	color: Black;

	.container {
		margin-top: 0px;

		th {
			.fa {
				color: Black;
			}

			a {
				.fa {
					color: rgba(Black, 0.5);
				}
			}
		}
	}
}

.dashboard-tile {
	background: $background;
	padding: 50px;
	border: 5px solid White;
	display: inline-block;
	color: White;
	font-family: $font;
	font-size: 24px;
	text-align: center;
	cursor: pointer;

	&:hover{
		@include transform(1.025);
		@include transition(0.5s);
	}

	&.add-new {
		background: rgba($background, 0.75);
	}
}

.alert {
	.close {
		top: -6px !important;
		right: -20px !important;
		font-size: 36px;
	}
}

.huge {
    font-size: 48px;
    font-weight: bold;
}

.panel-primary {
    border-color: $brand-primary;
    .panel-heading {
        border-color: $brand-primary;
        color: white;
        background-color: $brand-primary;
    }
    a {
        color: $brand-primary;
        &:hover {
            color: darken($brand-primary, 15%);
        }
    }
}

.panel-green {
    border-color: $brand-success;
    .panel-heading {
        border-color: $brand-success;
        color: white;
        background-color: $brand-success;
    }
    a {
        color: $brand-success;
        &:hover {
            color: darken($brand-success, 15%);
        }
    }
}

.panel-red {
    border-color: $brand-danger;
    .panel-heading {
        border-color: $brand-danger;
        color: white;
        background-color: $brand-danger;
    }
    a {
        color: $brand-danger;
        &:hover {
            color: darken($brand-danger, 15%);
        }
    }
}

.panel-yellow {
    border-color: $brand-warning;
    .panel-heading {
        border-color: $brand-warning;
        color: white;
        background-color: $brand-warning;
    }
    a {
        color: $brand-warning;
        &:hover {
            color: darken($brand-warning, 15%);
        }
    }
}

.form-input-row {
	padding: 25px 0px;
}

.submit-add-edit {
	margin-top: 50px;
} 

.planned-day {
	width: 20px;
	height: 20px;
	line-height: 20px;
	display: inline-block;
	text-align: center;
	cursor: pointer;
	font-size: 10px;
	border: solid 2px #c9f;
	margin: 2px 1px;

	&.occupied {
		background: #c9f;
	}

	&.free {
		background: White;
	}

	&.blur {
		opacity: 0.25;
	}
}