@import "utils";

#wrapper {
	background: $background url("../images/background.png");
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: 100% auto;
}

.navbar {
	display: none;
}

.content {

	.container {

		.app-title {
			color: White;
			text-align: center;
		}

		h1 {
			font-size: 56px;
			font-weight: bold;
		}

		.login-panel {
			margin-top: 50px;

			h3 {
				text-align: center;
			}

			.input-group {
				margin: 25px 0px;

				&:hover, &:active, &:focus {
					& > .input-group-addon {
						@include transform(1.5);
						@include transition(0.5s);
					}
				}
			}

			*::-webkit-input-placeholder {
				color: rgba(White, 0.5);				
			}
			*:-moz-placeholder {
				color: rgba(White, 0.5);			
			}
			*::-moz-placeholder {
				color: rgba(White, 0.5);			
			}
			*:-ms-input-placeholder {
				color: rgba(White, 0.5);			
			}

			.form-control {
				background: rgba(White, 0.25);
				border-radius: 0px;
				border: none;
				box-shadow: none;
				color: White;
				font-family: $font;
				font-size: 24px;
				height: 48px;
				margin-left: 8px;
				text-align: center;
				@include transition(0.25s);

				&:hover, &:focus {
					background: rgba(White, 0.5);
					@include transition(0.25s);
				}

				&[type="text"], &[type="password"] {
					text-align: left;
				}

				&[type="submit"] {
					background: rgba($contrast, 0.75);
					width: 100%;

					&:hover, &:focus {
						background: rgba($contrast, 0.95);
						@include transition(0.25s);
					}
				}
			}

			.input-group-addon {
				background: none;
				border: none;
				color: White;
				min-width: 50px;
			}
		}
	}
}
