@import "utils";

html, body {
	margin: 0px;
	padding: 0px;
	height: 100%;
}

body {
	color: White;
	font-family: "Open Sans", sans-serif;
	font-size: 16px;
}

a {
	color: White;
	@include transition(0.75s);

	&:hover, &:active, &:focus {
		color: $contrast;
		outline: 0px;
		text-decoration: none;
	}
}

h1, h2, h3 {
	font-family: $font;
}

#wrapper {
	min-height: 100%;
	position: relative;
}

.content {
	padding: 15px 0px;

	.container {
		margin-top: 50px;
		margin-bottom: 100px;

	}
}

.footer {
	background: rgba(0, 0, 0, 0.9);
	bottom: 0px !important;
	color: White;
	margin-top: 50px;
	padding: 10px;
	position: absolute !important;
	width: 100%;

	p {
		margin-top: 5px;
		font-family: $font;
		font-size: 18px;
	}

	.footer-icon {
		padding: 0px 10px;
	}
}